#lp_ms_body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#lp_ms_body_footer {
  width: 100%;
  margin: 15px 0px 0px 0px;
  padding: 0px;
}

#lp_ms_header ul li {
  display: inline;
  padding: 5px 0px 0px 5px;
  font-size: 16px;
}

#lp_ms_header ul {
  margin-top: 22px
}

#lp_ms_header_1_contact {
  margin-right: 50px;
}

.lp_ms_header_row {
  margin: auto;
  line-height: 1.6em;
  font-family: 'Montserrat', sans-serif;
}

#lp_ms_header_1 {
  background-color: white;
  margin: auto;
  padding: 10px 0px 6px 0px;
}

#lp_ms_header_2 {
  margin: auto;
}

#lp_ms_header_1_col_left {
  display: inline-flex;
}

#lp_ms_header_1_col_right {
  text-align: right;
  display: inline-flex;
  float: right;
  clear-after: both;
  color: #352071;
  font-family: 'Montserrat', sans-serif;
}

#lp_ms_header_1_lp_logo {
  background-image: url(https://datawiz.leibniz-psychology.org/DataWiz/static/images/microsite_img/leibniz-psychology.png);
  height: 56px;
  width: 240px;
  cursor: pointer;
}

#lp_ms_header_2_logo_img {
  
}

#lp_ms_header_2_logo, #lp_ms_header_2_logo_img {
  
}

#lp_ms_header_2_logo_img img {
  max-width: 60px;
}

.lp_ms_header_2 {
  background: #240d46; /* Old browsers */
  background: -moz-linear-gradient(left, #240d46 0%, #2b2171 100%);
  background: -webkit-linear-gradient(left, #240d46 0%, #2b2171 100%);
  background: linear-gradient(to right, #240d46 0%, #2b2171 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#240d46', endColorstr='#2b2171', GradientType=1);
}

#lp_ms_header_2_image {
  background-color: #0097c6;
  background-image: url(https://datawiz.leibniz-psychology.org/DataWiz/static/images/microsite_img/header_cyan.jpg);
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
}

#lp_ms_header_2_logo_bold {
  font-weight: 600;
  color: white;
  vertical-align: top;
}

#lp_ms_header_2_logo_thin {
  font-weight: 100;
  color: white;
  vertical-align: top;
}

#lp_ms_header_2_logo a, #lp_ms_header_2_logo a:hover, #lp_ms_header_2_logo a:active, #lp_ms_header_2_logo a:visited {
  font-size: 3em;
  font-family: 'Zilla Slab', serif;
  color: white;
  text-decoration: none;
}

#lp_ms_footer {
  color: #352071;
  font-size: 14px;
  line-height: 1.6em;
  font-family: 'Montserrat', sans-serif;
}

#lp_ms_footer ul a, #lp_ms_header a, .lp_ms_footer_split_four_left a, .lp_ms_footer_split_four_right a {
  text-decoration: none;
  color: #352071;
}

#lp_ms_footer ul a:hover, #lp_ms_footer ul a:active, #lp_ms_header ul a:hover, .lp_ms_footer_split_four_left a:hover,
  .lp_ms_footer_split_four_right a:hover {
  text-decoration: none;
  color: #af33a1;
}

#lp_ms_header a.active {
  text-decoration: underline;
  font-weight: bold;
}

#lp_ms_footer ul {
  text-decoration: none;
  font-size: 1em;
  line-height: 1.6em;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#lp_ms_footer h3 {
  font-size: 20px;
  margin: 0px;
  font-family: 'Zilla Slab', serif;
  font-weight: 500;
}

#lp_ms_footer_1 {
  background-color: #e6ecf0;
  box-shadow: 0 -11px 14px -6px #b8bdc0;
  min-width: 100%;
}

#lp_ms_footer_2 {
  background-color: #f2f5f7;
  min-width: 100%;
}

#lp_ms_footer_3 {
  background-color: #e6ecf0;
  min-width: 100%;
  text-align: right;
}

#lp_ms_footer_3 ul li {
  display: inline-block;
  padding: 26px 0px 20px 10px;
}

.lp_ms_footer_1_table {
  display: table;
  margin: auto;
}

.lp_ms_footer_row {
  display: table-row;
}

.lp_ms_footer_1_table_2 {
  display: table;
}

.lp_ms_footer_row_left_p, .lp_ms_footer_row_left_icon {
  display: table-cell;
}

.lp_ms_footer_row_left_icon {
  min-width: 140px;
  text-align: right;
}

.lp_ms_footer_row_left_icon img {
  position: relative;
  top: 11px;
}

.lp_ms_footer_row_left_icon_a {
  background: #352071;
  color: white;
  text-decoration: none;
  padding: 8px 13px 8px 13px;
}

.lp_ms_footer_3_row_right {
  display: table-cell;
  float: right;
  clear-after: right;
}

.lp_ms_footer_3_row_left {
  display: table-cell;
  text-align: left;
  float: left;
  clear-after: left;
}

/* START MEDIA */
@media ( max-width : 749px) {
  .lp_ms_footer_1_table, .lp_ms_header_row {
    width: 100%;
  }
  #lp_ms_header_2_image {
    background-size: cover;
    background-position: left;
    height: 100px;
  }
  #lp_ms_header_1_col_left {
    padding-left: 10px;
    width: 100%;
  }
  #lp_ms_header_1_col_right {
    padding-left: 10px;
    width: 100%;
    float: none;
  }
  #lp_ms_header_2_logo {
    
  }
  .lp_ms_footer_row_left, .lp_ms_footer_row_right {
    display: block;
    padding: 30px 30px 0px 30px;
  }
  .lp_ms_footer_split_four_right, .lp_ms_footer_split_four_left {
    display: block;
    padding: 0px 30px 0px 30px;
  }
  .lp_ms_footer_1_table_2 {
    width: 90%;
  }
  .lp_ms_footer_split_four_cell {
    display: block;
    margin-top: 30px;
  }
  .lp_ms_footer_3_row_left {
    margin-left: 30px;
  }
  .lp_ms_footer_3_row_right {
    margin-right: 30px;
  }
  #lp_ms_header_2_logo {
    padding: 24px 0px 0px 15px;
  }
  #lp_ms_header_2_logo_img a>span {
    position: relative;
    top: 18px;
  }
}

@media ( min-width : 750px) {
  .lp_ms_footer_1_table, .lp_ms_header_row {
    width: 100%;
  }
  #lp_ms_header_2_image {
    background-size: cover;
    background-position: left;
    height: 120px;
  }
  #lp_ms_header_1_col_left {
    padding-left: 10px;
  }
  #lp_ms_header_1_col_right {
    padding-right: 10px;
  }
  #lp_ms_header_2_logo {
    
  }
  .lp_ms_footer_row_left, .lp_ms_footer_row_right, .lp_ms_footer_split_four_left, .lp_ms_footer_split_four_right {
    display: block;
    padding: 30px 30px 30px 30px;
  }
  .lp_ms_footer_1_table_2 {
    width: 95%;
  }
  .lp_ms_footer_split_four_cell {
    display: table-cell;
    width: 50%;
  }
  .lp_ms_footer_3_row_left {
    margin-left: 30px;
  }
  .lp_ms_footer_3_row_right {
    margin-right: 30px;
  }
  #lp_ms_header_2_logo {
    padding: 34px 0px 0px 50px;
  }
  #lp_ms_header_2_logo_img a>span {
    position: relative;
    top: 18px;
  }
}

@media ( min-width : 970px) {
  .lp_ms_footer_1_table, .lp_ms_header_row {
    width: 90%;
  }
  #lp_ms_header_2_image {
    background-size: cover;
    background-position: left;
    height: 130px;
  }
  #lp_ms_header_1_col_left {
    padding-left: 0px;
  }
  #lp_ms_header_1_col_right {
    padding-right: 0px;
  }
  #lp_ms_header_2_logo {
    
  }
  .lp_ms_footer_row_left, .lp_ms_footer_row_right, .lp_ms_footer_split_four_left, .lp_ms_footer_split_four_right {
    display: block;
    border: none;
    padding: 30px 30px 25px 30px;
  }
  .lp_ms_footer_1_table_2 {
    width: 100%;
  }
  .lp_ms_footer_split_four_cell {
    display: table-cell;
    width: 50%;
  }
  .lp_ms_footer_3_row_left {
    margin-left: 30px;
  }
  .lp_ms_footer_3_row_right {
    margin-right: 30px;
  }
  #lp_ms_header_2_logo {
    padding: 34px 0px 0px 50px;
  }
  #lp_ms_header_2_logo_img a>span {
    position: relative;
    top: 18px;
  }
}

@media ( min-width : 1170px) {
  .lp_ms_footer_1_table, .lp_ms_header_row {
    width: 80%;
  }
  #lp_ms_header_2_image {
    background-size: inherit;
    background-position: right;
  }
  #lp_ms_header_1_col_left {
    padding-left: 0px;
  }
  #lp_ms_header_1_col_right {
    padding-right: 0px;
  }
  #lp_ms_header_2_logo {
    padding: 36px 0px 0px 50px;
  }
  #lp_ms_header_2_logo_img a>span {
    position: relative;
    top: 20px;
  }
  .lp_ms_footer_row_left, .lp_ms_footer_row_right {
    display: table-cell;
    width: 50%;
  }
  .lp_ms_footer_row_left {
    padding: 35px 75px 40px 0px;
  }
  .lp_ms_footer_row_right {
    padding: 35px 0px 40px 0px;
  }
  .lp_ms_footer_1_table_2 {
    width: 100%;
  }
  .lp_ms_footer_split_four_right, .lp_ms_footer_split_four_left {
    padding: 35px 0px 25px 0px;
  }
  .lp_ms_footer_split_four_left, .lp_ms_footer_split_four_right {
    display: table-cell;
    width: 50%;
  }
  .lp_ms_footer_split_four_cell {
    display: table-cell;
    width: 50%;
  }
  .lp_ms_footer_3_row_right, .lp_ms_footer_3_row_left {
    margin: 0px;
  }
  .lp_ms_footer_3_row_left {
    margin-left: 0px;
  }
  .lp_ms_footer_3_row_right {
    margin-right: 0px;
  }
}

/* END MEDIA */