@media ( max-width : 765px) {
  .container {
    margin-top: 100px;
    background-color: floralwhite;
    width: 80%;
    left: 10%;
    position: absolute;
  }
  .login-card {
    width: 90%;
    margin: auto;
  }
  .login-form {
    padding: 3%;
  }
}

@media ( min-width : 766px) {
  .container {
    margin-top: 100px;
    background-color: floralwhite;
    width: 60%;
    left: 20%;
    position: absolute;
  }
  .login-card {
    width: 80%;
    margin: auto;
  }
  .login-form {
    padding: 6%;
  }
}

@media ( min-width : 1200px) {
  .container {
    margin-top: 100px;
    background-color: floralwhite;
    width: 40%;
    left: 30%;
    position: absolute;
  }
  .login-card {
    width: 80%;
    margin: auto;
  }
  .login-form {
    padding: 10%;
  }
}

html {
  background-color: #2F2F2F;
}

body, #mainWrapper {
  height: 100%;
  background-color: #ddd;
}

body, #mainWrapper, .form-control {
  font-size: 12px !important;
}

#mainWrapper {
  /*height: 720px; Without explicit px values, % in children's does not work*/
  height: 100vh; /*with Viewport-Percentage, we can handles all devices screens  */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}