/**************** START DOC SETTINGS ****************/
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'PT Sans', "helvetica neue", sans-serif;
  margin-bottom: 60px;
}

body, #mainWrapper {
  background-color: #eee;
}

body, #mainWrapper, .form-control {
  font-size: 12px !important;
}
/**************** END DOC SETTINGS ****************/
/**************** START HEADER ****************/
#logo {
  margin: auto;
  width: 300px;
}

#logo img {
  width: 300px;
  padding: 20px 0px 20px 0px;
  margin: auto;
}
/**************** END HEADER ****************/
/**************** START Content ****************/
textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}

.form-group .required:BEFORE {
  content: "*";
  color: red;
}

.reddot:AFTER {
  content: "*";
  color: red;
}

.form-group label:AFTER {
  content: ":";
}

.form-group-clean label:AFTER {
  content: "";
}

.list-group-item .btn:AFTER {
  content: "";
}

[type="checkbox"] ~ label:AFTER {
  content: "";
}

.clean_label:AFTER {
  content: "";
}

.checkbox-codebook>.btn span.glyphicon {
  opacity: 0;
}

[type="checkbox"].btn::after {
  content: "";
}

label.btn::after {
  content: "";
}

.checkbox-codebook>.btn.active span.glyphicon {
  opacity: 1;
}

.projectContentClick {
  cursor: pointer;
}

.projectContent {
  display: none;
}

.glyphicon-lg {
  font-size: 3em
}

.marginTop1 {
  margin-top: 12px;
}

.gylph-help {
  font-size: 1.2em;
  width: 1.4em;
  color: #286090;
}

.chkboxbtn {
  text-align: left;
  white-space: normal;
  width: 100%;
}

.vcenter {
  vertical-align: middle;
}

.control-label-left .control-label {
  /* text-align:right; */
  text-align: left;
}

.helpblock_margin {
  margin-bottom: -5px;
  position: relative;
  left: -10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-top-7 {
  margin-top: 7px;
}

.pre-xy-scrollable {
  overflow: auto;
  max-height: 400px;
}

.pre-x-scrollable {
  overflow: auto;
}

.pre-x-scrollable table td {
  word-wrap: break-word;
}

.pre-x-scrollable table {
  table-layout: fixed;
}

.breadcrumb {
  position: absolute;
  top: 8px;
  padding: 10px 5px;
  font-size: 12px;
  background-color: #337ab7;
  color: white;
}

.breadcrumb a {
  color: white;
}

.bractive {
  color: red;
}

/**************** END CONTENT ****************/
/**************** START RESPONSIVE ****************/
/* Breite bis 765 pixel */
@media ( max-width : 765px) {
  /* LOGIN */
  .login_container {
    background-color: white;
    width: 100%;
    margin: auto;
  }
  .login-card {
    width: 90%;
    margin: auto;
  }
  .login-form {
    padding: 3%;
  }
  /* Content */
  .content-container {
    background-color: white;
    width: 100%;
    margin: auto;
  }
  .content-padding {
    padding: 1% 0%;
  }
  #mainWrapper .form-group {
    padding: 0% 1% 0% 1%;
  }
  .modalWidth {
    width: 100%;
  }
  .breadcrumb {
    left: 0%;
    top: 8px;
  }
}
/* Breite ab 766 pixel */
@media ( min-width : 766px) and (max-width:1599px) {
  .login_container {
    background-color: white;
    width: 90%;
    margin: auto;
  }
  .login-card {
    width: 80%;
    margin: auto;
  }
  .login-form {
    padding: 6%;
  }
  /* Content */
  .content-container {
    background-color: white;
    width: 100%;
    margin: auto;
  }
  .content-padding {
    padding: 2%;
  }
  #mainWrapper .form-group {
    padding: 0% 1% 0% 1%;
  }
  .modalWidth {
    width: 90%;
  }
  .breadcrumb {
    left: 0%;
  }
}
/* Breite ab 1200 pixel */
@media ( min-width : 1600px) {
  .login_container {
    background-color: white;
    width: 40%;
    margin: auto;
  }
  .login-card {
    width: 80%;
    margin: auto;
  }
  .content-padding {
    padding: 20px 8%;
  }
  /* Content */
  .content-container {
    background-color: white;
    width: 80%;
    margin: auto;
  }
  .modalWidth {
    width: 60%;
  }
  .breadcrumb {
    left: 10%;
  }
}
/**************** END RESPONSIVE ****************/
/**************** START FOOTER ****************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #337ab7;
}
/**************** END FOOTER ****************/
/**************** START TAGGING STYLE ****************/
.tagging {
  border: 1px solid #CCCCCC;
  cursor: text;
  font-size: 1em;
  height: auto;
  padding: 10px 10px 15px;
}

.tag {
  background: none repeat scroll 0 0 #337ab7;
  border-radius: 2px;
  color: white;
  cursor: default;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  padding: 4px 20px 4px 0;
  margin: 5px 10px 0 0;
}

.tag span {
  background: none repeat scroll 0 0 #286090;
  border-radius: 2px 0 0 2px;
  margin-right: 5px;
  padding: 5px 10px 5px;
}

.tag .tag-i {
  color: white;
  cursor: pointer;
  font-size: 1.3em;
  height: 0;
  line-height: 0.1em;
  position: absolute;
  right: 5px;
  top: 0.7em;
  text-align: center;
  width: 10px;
}

.tag .tag-i:hover {
  color: black;
  text-decoration: underline;
}

.type-zone {
  border: 0 none;
  height: auto;
  width: auto;
  min-width: 20px;
  display: inline-block;
}

.type-zone:focus {
  outline: none;
}
/**************** END TAGGING STYLE ****************/
/**************** START NAVBAR CUSTOMISATION ****************/
.navbar-default {
  background-color: #337ab7;
  border-color: #286090;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fefeff;
}

.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #fefeff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
  {
  color: #fefeff;
  background-color: #286090;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus
  {
  color: #fefeff;
  background-color: #286090;
}

.navbar-default .navbar-toggle {
  border-color: #286090;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #286090;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #ffffff;
}

.navbar-default .navbar-link {
  color: #ffffff;
}

.navbar-default .navbar-link:hover {
  color: #fefeff;
}

@media ( max-width : 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus
    {
    color: #fefeff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #fefeff;
    background-color: #286090;
  }
}
/**************** END NAVBAR CUSTOMISATION ****************/
/**************** START FIXED NAVBAR SETTINGS ****************/
.mainnavtop.affix {
  top: 0;
  width: 100%
}

.mainnavtop {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  z-index: 1;
}

.subnavtop.affix {
  position: fixed;
  top: 51;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  padding-left: 15.6%
}

.subnavtop {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  z-index: 1;
}

/**************** END FIXED NAVBAR SETTINGS ****************/
.progress_custom {
  position: relative;
  top: 8px;
}

.progress_custom span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}

/* .list-group-item:nth-of-type(even) {
    background: #eee;
} */
.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8) url('../images/Loading-data.gif') 50% 50% no-repeat;
}

.modal-content>.panel-heading {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.table {
  font-size: 12px
}

.matrixtable td {
  text-align: center;
}

.redborder:FOCUS {
  border: 1px solid red;
}

.redborder {
  border: 1px solid red;
}

.hideonload {
  display: none;
}

.seperatormodal {
  font-size: 26px;
  text-align: center;
}

.th-width-300 {
  width: 300px;
}

.th-width-200 {
  width: 200px;
}

.th-width-100 {
  width: 100px;
}

.th-width-60 {
  width: 60px;
}

.th-width-20 {
  width: 20px;
}