/* Breite bis 765 pixel */
@media ( max-width : 765px) {
  /* LOGIN */
  .login_container {
    background-color: white;
    width: 80%;
    left: 10%;
    position: absolute;
  }
  .login-card {
    width: 90%;
    margin: auto;
  }
  .login-form {
    padding: 3%;
  }
  /* Content */
  .content-container {
    background-color: white;
    width: 80%;
    left: 10%;
    position: absolute;
  }
}
/* Breite ab 766 pixel */
@media ( min-width : 766px) {
  .login_container {
    background-color: white;
    width: 60%;
    left: 20%;
    position: absolute;
  }
  .login-card {
    width: 80%;
    margin: auto;
  }
  .login-form {
    padding: 6%;
  }
  /* Content */
  .content-container {
    background-color: white;
    width: 70%;
    left: 15%;
    position: absolute;
  }
}
/* Breite ab 1200 pixel */
@media ( min-width : 1200px) {
  .login_container {
    background-color: white;
    width: 40%;
    left: 30%;
    position: absolute;
  }
  .login-card {
    width: 80%;
    margin: auto;
  }
  .login-form {
    padding: 10%;
  }
  /* Content */
  .content-container {
    background-color: white;
    width: 60%;
    left: 20%;
    position: absolute;
  }
}

html {
  background-color: #ddd;
}

body {
  font-family: 'PT Sans', "helvetica neue", sans-serif
}

body, #mainWrapper {
  background-color: #ddd;
}

body, #mainWrapper, .form-control {
  font-size: 12px !important;
}

textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}

.form-group .required:BEFORE {
  content: "*";
  color: red;
}

.form-group label:AFTER {
  content: ":";
}

.clean_label:AFTER {
  content: "";
}

.projectContentClick {
  cursor: pointer;
}

#studiesActiveContent, #materialsActiveContent {
  display: none;
}

.glyphicon-lg {
  font-size: 3em
}

/**************** START TAGGING ****************/
.blockquote-box {
  border-right: 5px solid #E6E6E6;
  margin-bottom: 25px
}

.blockquote-box .square {
  width: 100px;
  min-height: 50px;
  margin-right: 22px;
  text-align: center !important;
  background-color: #E6E6E6;
  padding: 20px 0
}

.blockquote-box.blockquote-success {
  border-color: #4CAE4C
}

.blockquote-box.blockquote-success .square {
  background-color: #5CB85C;
  color: #FFF
}

.blockquote-box.blockquote-info {
  border-color: #46B8DA
}

.blockquote-box.blockquote-info .square {
  background-color: #5BC0DE;
  color: #FFF
}

.blockquote-box.blockquote-warning {
  border-color: #EEA236
}

.blockquote-box.blockquote-warning .square {
  background-color: #F0AD4E;
  color: #FFF
}

/* Tagging Basic Style */
.tagging {
  border: 1px solid #CCCCCC;
  cursor: text;
  font-size: 1em;
  height: auto;
  padding: 10px 10px 15px;
}

.tag {
  background: none repeat scroll 0 0 #EE7407;
  border-radius: 2px;
  color: white;
  cursor: default;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  padding: 4px 20px 4px 0;
  margin: 5px 10px 0 0;
}

.tag span {
  background: none repeat scroll 0 0 #D66806;
  border-radius: 2px 0 0 2px;
  margin-right: 5px;
  padding: 5px 10px 5px;
}

.tag .tag-i {
  color: white;
  cursor: pointer;
  font-size: 1.3em;
  height: 0;
  line-height: 0.1em;
  position: absolute;
  right: 5px;
  top: 0.7em;
  text-align: center;
  width: 10px;
}

.tag .tag-i:hover {
  color: black;
  text-decoration: underline;
}

.type-zone {
  border: 0 none;
  height: auto;
  width: auto;
  min-width: 20px;
  display: inline-block;
}

.type-zone:focus {
  outline: none;
}

/**************** END TAGGING ****************/