<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%highlight{%d{DEFAULT} [%t] %level: %c{3} --- %msg%n}{FATAL=Bright red, ERROR=Bright red, WARN=Bright red, INFO=Bright white, DEBUG=white, TRACE=white}" />
		</Console>
		<File name="DataWizLog" fileName="/logs/DataWizLog.log">
			<PatternLayout pattern="%d{DEFAULT} [%t] %-5level: %logger{36} --- %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<logger name="org.springframework" level="WARN" />
		<logger name="org.hibernate" level="WARN" />
		<logger name="de.zpid" level="TRACE" />
		<Root level="WARN">
			<AppenderRef ref="CONSOLE" />
		</Root>
	</Loggers>
</Configuration>