<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="WARN">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%highlight{%d{DEFAULT} [%t] %level: %c{3} --- %msg%n}{FATAL=Bright red, ERROR=Bright red, WARN=Bright red, INFO=Bright white, DEBUG=white, TRACE=white}" />
		</Console>
		<File name="DataWizLog" fileName="/logs/DataWizLog.log">
			<PatternLayout pattern="%d{DEFAULT} [%t] %-5level: %logger{36} --- %msg%n" />
		</File>
		<Async name="Async" bufferSize="262144">
			<AppenderRef ref="CONSOLE" />
			<AppenderRef ref="DataWizLog" />
			<LinkedTransferQueue />
		</Async>
	</Appenders>
	<Loggers>
		<logger name="org.springframework" level="INFO" />
		<logger name="org.hibernate" level="INFO" />
		<logger name="de.zpid" level="INFO" />
		<logger name="de.zpid.spss" level="INFO" />
		<Root level="INFO">
			<AppenderRef ref="Async" />
		</Root>
	</Loggers>		
</Configuration>