<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="TEMP" />
		<appender-ref ref="CONSOLE" />
	</appender>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p: %c{3} --- %m%n" />
		</layout>
	</appender>
	<appender name="TEMP" class="org.apache.log4j.FileAppender">
		<param name="File" value="C:/logs/DataWizLog.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-mm-dd HH:mm:ss,SSS} [%t] %-5p: %c{3} --- %m%n" />
		</layout>
	</appender>
	<logger name="org.springframework">
		<level value="warn" />
	</logger>
	<logger name="org.hibernate">
		<level value="warn" />
	</logger>
	<logger name="de.zpid">
		<level value="trace" />
	</logger>
	<root>
		<priority value="info" />
		<appender-ref ref="ASYNC" />
	</root>
</log4j:configuration>
