<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- DTO-Bean-Declaration -->
	<bean id="DataWizUser" class="de.zpid.datawiz.model.DataWizUser"
		scope="prototype" />
	<bean id="DataWizUserRoles" class="de.zpid.datawiz.model.DataWizUserRoles"
		scope="prototype" />
</beans>