<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
  <!-- DTO -->
  <bean id="UserDTO" class="de.zpid.datawiz.dto.UserDTO" scope="prototype" />
  <bean id="UserRoleDTO" class="de.zpid.datawiz.dto.UserRoleDTO" scope="prototype" />
  <bean id="VersionControlDTO" class="de.zpid.datawiz.dto.VersionControlDTO" scope="prototype" />
  <bean id="ProjectDTO" class="de.zpid.datawiz.dto.ProjectDTO" scope="prototype" />
  <bean id="StudyDTO" class="de.zpid.datawiz.dto.StudyDTO" scope="prototype" />
  <bean id="ContributorDTO" class="de.zpid.datawiz.dto.ContributorDTO" scope="prototype" />
  <bean id="FileDTO" class="de.zpid.datawiz.dto.FileDTO" scope="prototype" />
  <bean id="FormTypesDTO" class="de.zpid.datawiz.dto.FormTypesDTO" scope="prototype" />
  <bean id="DmpDTO" class="de.zpid.datawiz.dto.DmpDTO" scope="prototype" />
  <!-- FORM -->
  <bean id="ProjectForm" class="de.zpid.datawiz.form.ProjectForm" scope="prototype" /> 
</beans>